* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
  /* height: 100%;
  width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100%;
  width: 100%;
}

a {
  color: #052836;
}

.about-container {
  margin: 70px;
}

#about-welcome {
  text-align: center;
  font-size: xx-large;
  font-family: cursive;
}

#about-paragraph {
  text-align: center;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: auto;
}

.card {
  width: 300px;
  height: 300px;
}

.img-card {
  width: 300px;
  height: 300px;
}

.img-link {
  width: 300px;
  height: 300px;
  margin: 15px;
}

.categories-container {
  display: flex;
  justify-content: center;
  margin: 50px;
}

#second-card {
  height: 50px;
  width: 200px;
  margin: 12px;
  text-align: center;
  text-decoration: none;
}

.new-recipe-link {
  text-align: center;
}

.img-fluid {
  margin: 50px;
  width: 75vw;
  height: 75vh;
}

.one-recipe-container {
  text-align: center
}

.comments-container {
  text-align: center;
  margin: 80px 0;
}

#comments-table {
  margin: 0 auto;
  width: 25%;
  text-align: center
}

.edit-recipe-btn {
  text-decoration: none;
}

.bottom-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  /* height: 100px;
  width: 300px; */
}

