<%- include('../partials/header') %>

<form action="/recipes/comments/<%= comment._id %>?_method=PUT" 
    <input type="content" name="comment" value="<%= comment._id %>"
    <button type="submit">Save Comment</button>

<%- include('../partials/footer') %>
