<!<%- include('../partials/header') %>

<form action="/recipes/<%= recipe._id %>?_method=PUT">
    <input type="content" name="recipe" value="<%= recipe.recipe %>">
    <button type="submit">Save Recipe</button></form>

<%- include('../partials/footer') %>
