<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>RECIPES</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Directions</th>    
                <th>Ingredients</th>     
            </tr>
        </thead>
        <tbody>
            <% recipes.forEach(function(a) { %> 
            <tr>
                <td><%= r.name %></td> 
                <td><%= r.image %></td> 
                <td><%= r.directions %></td> 
                <td><%= r.ingredients %></td> 
            </tr>
            <% }) %>     
        </tbody>            
    </table>
</body>
</html>

<a href="/recipes/new">NEW</a>