<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>Comment</th>
        </tr>
    </thead>
</table>

<!-- <td class="comment-user"><img alt="avatar" src="<%= r.userAvatar %>"><%= r.userName %></td> -->

 <!-- <td><%= r.rating %></td>
          <!-- Add this td -->
          <td>
            <% if (user && user._id.equals(r.user)) { %>
              <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td> -->